@page "/"

<PageTitle>HomePage</PageTitle>

<h1>Welcome on this Race Track Simulator!</h1>

<div class="container-fluid">
    <div class="row">  
        <div style="background:green" class="col box">
            @foreach (GreyHound hound in LocalData.hounds)
            {
                <div style="display:inline-block;border: 1px solid black;width:@hound.GetPercentage()%">&nbsp;</div>
                <div style="display:inline-block"><img height=40 src="images/greyhoundracing.png"/></div>
                <div hidden><img height=40 src="images/olympic-medal-1st-place.png"/></div>
                <br>
            }
        </div>
  </div>

  <div class="row">
              <div class="col box">
            <h3>Betting stats</h3>
            <div style='overflow-y:auto'>            
                <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Starting Capital</th>
                    <th>Current Capital</th>
                    <th>Bet Amount</th>
                    <th>Dog</th>
                    <th>Profit</th>
                </tr>
                    @foreach (var bettor in LocalData.bettors)
                    {
                        <tr>
                            <td><p>@bettor.Value.GetName()</p></td>
                            <td><p>@bettor.Value.GetStartCash()</p></td>
                            <td><p>@bettor.Value.GetCurrentCash()</p></td>
                            <td><p>@bettor.Value.GetBet().GetAmount()</p></td>
                            <td><p>@bettor.Value.GetBet().GetDogNumber()</p></td>

                            @if (bettor.Value.GetCurrentCash() - bettor.Value.GetStartCash() > 0)
                            {
                                <td><p style="color:green">+ @(bettor.Value.GetCurrentCash() - bettor.Value.GetStartCash())</p></td>
                            } else if (bettor.Value.GetCurrentCash() - bettor.Value.GetStartCash() < 0)
                            {
                            <td><p style="color:red">@(bettor.Value.GetCurrentCash() - bettor.Value.GetStartCash())</p></td>
                            } else
                            {
                                <td><p style="color:black">@(bettor.Value.GetCurrentCash() - bettor.Value.GetStartCash())</p></td>
                            }

                        </tr>
                    }
                </table>
            </div>

            
            <button type="button" class="btn btn-secondary btn-sm" @onclick="PlaceRandomBet">Fill with random bets</button>

            <button type="button" class="btn btn-secondary btn-sm" @onclick="GoToHistoryPage">See history</button>
        </div>
    <div class="col">
           <div class="row box">
               <h3>Place your bet!</h3>
                <p>Minimum betting amount is @LocalData.MinimumBet bucks</p>

                <label for="bettors"></label>
                <select @bind="@LocalData.BettorName" name="bettors" id="bettors">
                    @foreach (var Bettor in LocalData.bettors)
                    {
                        <option value=@Bettor.Key>@Bettor.Key</option>
                    }
                </select>

                <label for="quantity">bets</label>
                <input type="number" id="quantity" @bind="@LocalData.Amount" 
                        min=@LocalData.MinimumBet max=100>

                <label for="dogs">bucks on dog:</label>
                <select @bind="@LocalData.DogNumber" name="dogs" id="dogs">
                    @for (int i = 1; i < LocalData.AmountGreyHounds; i++)
                    {
                        <option value=@i>#@i</option>
                    }
                </select>

                <button class="btn btn-secondary btn-sm" @onclick="PlaceBet">Place bet</button>
           </div>
           <div class="row box">
                <h3>Do you want to join in on the fun?</h3>
                <p>Add bettor here</p>

                <label for="NewPlayerName">Name: </label>
                <input type="text" id="NewPlayerName" @bind="@LocalData.NewPlayerName">

                <label for="newPlayerStartCash">, starting Cash:</label>
                <input type="number" id="NewPlayerStartCash" @bind="@LocalData.NewPlayerStartCash" 
                        min=@LocalData.MinimumBet max=1000>

                <button class="btn btn-secondary btn-sm" @onclick="CreateBettor">Add player</button>
           </div>
    </div>

    <div class="col box">
        <button type="button" class="btn btn-primary btn-lg" @onclick="startRace">Start Race!!</button>
    </div>

</div>
</div>
